{% extends "base.html" %}

{% block content %}

<body class="media-page">


    <!-- Introduction Section -->
    <div class="row g-4">

        <div class="intro-section shadow-lg p-5 rounded mb-5">
            <h1 class="display-4">Introduction</h1>
            <p>My love for Anime.</p>
            <p>My love for anime began when I was in college. My best friend introduced me to this world, and it
                provided me with a unique and immersive experience. I was hooked from the first show he recommended!</p>
            <p>Over the years, my passion for anime has only grown stronger. I've watched countless series and
                movies,
                discovering amazing stories and characters. My favorite genres include <strong>Yaoi</strong>,
                <strong>Drama</strong> and <strong>Shonen</strong>.
            </p>
            <p>Some of my all-time favorite series include <em>Jujutsu Kaisen</em>, <em>Kaiju No. 8</em>, and <em>I
                    Want
                    to Eat Your Pancreas</em>. These shows have compelling storylines that blend action, emotion,
                and
                beautiful art. Whether it's the dark fantasy of <em>Jujutsu Kaisen</em> or the heartwarming drama of
                <em>I Want to Eat Your Pancreas</em>, anime continues to surprise and captivate me.
            </p>
            <p>I look forward to the future of anime, filled with new and creative stories. Through this page, I
                hope to
                share my love of anime with you and highlight some of my favorite shows of the season. Enjoy!</p>
            <a href="#below" class="btn btn-custom mt-4">Enjoy! &rarr;</a>
        </div>
    </div>
    </div>


    <!-- Favorites Anime -->
    <div class="row g-4">

        <!-- Kaiju No8 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/kaiju No_2.jpg') }}" class="card-img-top"
                    alt="Kaiju No 8">
                <div class="card-body">
                    <h5 id="below" class="card-title">Kaiju No 8</h5>
                    <p class="card-text">YKaiju No. 8note is a manga by Naoya Matsumoto, set in a near-future Japan.
                        Kaiju attacks are ravaging the world and
                        Japan is the hardest hit country by these catastrophes. In order to keep the people safe, Japan
                        now has an elite force
                        of Kaiju Fighters who wear specialized Powered Armor that are deployed every time a Kaiju
                        attacks known as the
                        Anti-Kaiju Defense Force (JAKDF).The story follows Kafka Hibino, who after ingesting a parasitic
                        creature, gains the ability to turn into a kaiju, he
                        must now navigate using his power while trying to become part of an organization that eliminates
                        kaiju to fulfill a
                        promise he made with a childhood friend..</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- Jujutsu Kaisen -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/JJK_anime.jpg') }}" class="card-img-top"
                    alt="Jujutsu Kaisen">
                <div class="card-body">
                    <h5 class="card-title">Jujutsu Kaisen</h5>
                    <p class="card-text">The anime series was announced in the 52nd issue of Weekly Shōnen Jump
                        published in November 2019. The story follows
                        high school student Yuji Itadori as he joins a secret organization of Jujutsu Sorcerers in order
                        to kill a powerful
                        Curse named Ryomen Sukuna, to whom Yuji becomes the host.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- I Want to Eat Your Pancreas -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/I Want to Eat Your Pancreas.jpg') }}"
                    class="card-img-top" alt="I Want to Eat Your Pancreas">
                <div class="card-body">
                    <h5 class="card-title">I Want to Eat Your Pancreas</h5>
                    <p class="card-text">Originally released as a web novel on the site Shosetsuka ni Naro in 2014, it
                        was picked up and republished by Futabasha
                        in 2015 featuring a cover illustration by freelance artist loundraw.A high school boy finds the
                        diary of his classmate―only to discover that she’s dying. Sakura Yamauchi has been silently
                        suffering from a pancreatic disease, and now exactly one person outside her family knows. He
                        swears to her that he won’t
                        tell anyone what he learned, and the shared secret brings them closer together in this deeply
                        moving, first-person story
                        that traces their developing relationship in Sakura’s final months of life</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- Grand Blue -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/grand_blue.jpg') }}" class="card-img-top"
                    alt="Grand Blue">
                <div class="card-body">
                    <h5 class="card-title">Grand Blue</h5>
                    <p class="card-text">Iori Kitahara looks forward to his new life on the Izu Peninsula as he prepares
                        to start his college life there, staying
                        in a room above his uncle's diving shop "Grand Blue." However, he is quickly shocked as he meets
                        the local Diving Club,
                        a group full of buff men who spend more time drinking, partying, and stripping naked than
                        actually diving. Despite his
                        attempts to distance himself from the group, Iori gets quickly swept up in their antics, while
                        his cousins try to show
                        him the wonders of diving into the ocean and sea.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- Your Name -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/Your_name.jpg') }}" class="card-img-top"
                    alt="Your Name">
                <div class="card-body">
                    <h5 class="card-title">Your Name</h5>
                    <p class="card-text">From director Makoto Shinkai, the innovative mind behind Voices of a Distant
                        Star and 5 Centimeters Per Second, comes a
                        beautiful masterpiece about time, the thread of fate, and the hearts of two young souls.Mitsuha
                        is the daughter of the mayor of a small mountain town. She's a straightforward high school girl
                        who lives with
                        her sister and her grandmother and has no qualms about letting it be known that she's
                        uninterested in Shinto rituals or
                        helping her father's electoral campaign. Instead she dreams of leaving the boring town and
                        trying her luck in Tokyo.
                        Taki is a high school boy in Tokyo who works part-time in an Italian restaurant and aspires to
                        become an architect or an
                        artist. Every night he has a strange dream where he becomes...a high school girl in a small
                        mountain town.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!-- carousel -->
    <div class="col-md-10">
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-lg-6 video-container mb-4">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/aiCMXJ4zKWA"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                            <div class="carousel-item">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/5yb2N3pnztU"
                                    title="TVアニメ『呪術廻戦』第2期「渋谷事変」ノンクレジットOPムービー／OPテーマ：King Gnu「SPECIALZ」｜毎週木曜夜11時56分～MBS/TBS系列全国28局にて放送中!!"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>

                            <div class="carousel-item">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/DA_LZFaksSw"
                                    title="劇場版アニメ「君の膵臓をたべたい」sumikaが歌うOPテーマ「ファンファーレ」スペシャルコラボ映像が公開" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>

                            <div class="carousel-item">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/BU3Uvy-YX8Q"
                                    title="Grand Blue OP intro" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>

                            <div class="carousel-item">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/n89SKAymNfA"
                                    title="Nandemonaiya - movie ver." frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                        <!-- Text Section -->
                        <div class="col-lg-5 content-section">
                            <p>This is the video carousel of all the anime theme songs listed above.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

{% endblock %}