{% extends "base.html" %}

{% block content %}
<div class="overlay">
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="col-md-5">
            <div class="card bg-transparent border-0">
                <div class="card-header">
                    <h1 class="display-4">Welcome to the School of Product!</h1>
                </div>
                <div class="card-body">
                    <p class="lead">Prepare for a rewarding career in Tech, we offer various technical courses that
                        equip
                        you
                        with the knowledge and skills required to start, switch, or boost your product career.</p>
                    <a href="#" class="btn btn-custom btn-lg">Start Learning &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Programs Section -->
<div class="container my-5">
    <h2 class="text-center mb-4">Our Programs</h2>
    <div class="row g-4">

        <!-- Product Design -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='images/product_design.png') }}" class="card-img-top"
                    alt="Product Design">
                <div class="card-body">
                    <b>
                        <h5 class="card-title">Product Design</h5>
                    </b>
                    <p class="card-text">This course will take you through the basic principles of designing
                        products that address user needs and align with business goals.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- Back-End Engineering -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/product_marketing.png') }}" class="card-img-top"
                    alt="Back-End Engineering">
                <div class="card-body">
                    <h5 class="card-title">Product Marketing</h5>
                    <p class="card-text">You will learn how to program servers, client-side interfaces and
                        design
                        databases using the various programming languages.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>

        <!-- Cloud Engineering -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename='images/product_management_card.png') }}" class="card-img-top"
                    alt="Cloud Engineering">
                <div class="card-body">
                    <h5 class="card-title">Product Management</h5>
                    <p class="card-text">Gain hands-on experience with cloud platforms. It combines software
                        development
                        and IT operations to build and maintain cloud infrastructure.</p>
                    <a href="#" class="learn-more">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.293 1.5a.5.5 0 0 1 .707 0l4 4a.5.5 0 0 1 0 .707l-4 4a.5.5 0 0 1-.707-.707L13.293 6H1.5a.5.5 0 0 1 0-1h11.793l-2.646-2.646a.5.5 0 0 1 0-.707z" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}